version: 3
endpoint: https://ukuqslqvwovrukooziwf.graphql.ap-south-1.nhost.run
admin_secret: {{NHOST_ADMIN_SECRET}}
metadata_directory: metadata
actions:
  kind: synchronous
  handler_webhook_baseurl: ""
